.ui-checkbox,
.ui-radio {
  position: relative;
  display: block;
  margin-bottom: 15px;
}
.ui-checkbox label.ui-checkbox-inline,
.ui-radio label.ui-checkbox-inline {
  margin-right: 8px;
}
.ui-checkbox label,
.ui-radio label {
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: static;
}
.ui-checkbox label > input,
.ui-radio label > input {
  cursor: pointer;
  display: none;
  margin-left: -15px;
}
.ui-checkbox label > input[disabled] + span,
.ui-checkbox label > input[readonly] + span,
.ui-checkbox label > input[disabled] + i,
.ui-checkbox label > input[readonly] + i,
.ui-radio label > input[disabled] + span,
.ui-radio label > input[readonly] + span,
.ui-radio label > input[disabled] + i,
.ui-radio label > input[readonly] + i {
  opacity: .6;
  cursor: not-allowed;
}
.ui-checkbox label > span,
.ui-checkbox label > i,
.ui-radio label > span,
.ui-radio label > i {
  position: relative;
  padding-left: 28px;
  padding-top: 2.5px;
}
.ui-checkbox label > span:before,
.ui-checkbox label > i:before,
.ui-checkbox label > span:after,
.ui-checkbox label > i:after,
.ui-radio label > span:before,
.ui-radio label > i:before,
.ui-radio label > span:after,
.ui-radio label > i:after {
  position: absolute;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.ui-checkbox label > span:before,
.ui-checkbox label > i:before,
.ui-radio label > span:before,
.ui-radio label > i:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 1px;
  left: 0;
  border: 2px solid #919191;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}
.ui-checkbox label > input:checked + span:after,
.ui-checkbox label > input:checked + i:after,
.ui-radio label > input:checked + span:after,
.ui-radio label > input:checked + i:after {
  content: "\f122";
  font-family: 'ionicons';
  left: 5px;
  top: 2px;
  font-size: 12px;
  color: #6a6a6a;
}
.ui-checkbox.ui-checkbox-circle label > span:before,
.ui-checkbox.ui-checkbox-circle label > i:before,
.ui-radio.ui-checkbox-circle label > span:before,
.ui-radio.ui-checkbox-circle label > i:before {
  border-radius: 100%;
  top: 2px !important;
}
.ui-checkbox.ui-checkbox-circle label > span:after,
.ui-checkbox.ui-checkbox-circle label > i:after,
.ui-radio.ui-checkbox-circle label > span:after,
.ui-radio.ui-checkbox-circle label > i:after {
  top: 3.5px !important;
  left: 5.3px !important;
}
.ui-checkbox + .ui-checkbox,
.ui-radio + .ui-radio,
.ui-radio + .ui-radio {
  margin-top: -5px;
}
.ui-radio label.ui-radio-inline {
    display: inline-block;
}
.ui-radio label > span:before,
.ui-radio label > i:before {
  border-radius: 100%;
  top: 1px;
}
.ui-radio label > input:checked + span:after,
.ui-radio label > input:checked + i:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 6px;
  left: 5px;
  background: #6a6a6a;
}
.ui-checkbox-primary label > input:checked + span:after,
.ui-radio-primary label > input:checked + span:after,
.ui-checkbox-primary label > input:checked + i:after,
.ui-radio-primary label > input:checked + i:after {
  color: #ffffff;
}
.ui-checkbox-primary label > input:checked + span:before,
.ui-radio-primary label > input:checked + span:before,
.ui-checkbox-primary label > input:checked + i:before,
.ui-radio-primary label > input:checked + i:before {
  background-color: #3f51b5;
  border: 1px solid #3c4dac;
}
.ui-checkbox-pink label > input:checked + span:after,
.ui-radio-pink label > input:checked + span:after,
.ui-checkbox-pink label > input:checked + i:after,
.ui-radio-pink label > input:checked + i:after {
  color: #ffffff;
}
.ui-checkbox-pink label > input:checked + span:before,
.ui-radio-pink label > input:checked + span:before,
.ui-checkbox-pink label > input:checked + i:before,
.ui-radio-pink label > input:checked + i:before {
  background-color: #0DB7A8;
  border: 1px solid #0DB7A8;
}
.ui-checkbox-success label > input:checked + span:after,
.ui-radio-success label > input:checked + span:after,
.ui-checkbox-success label > input:checked + i:after,
.ui-radio-success label > input:checked + i:after {
  color: #ffffff;
}
.ui-checkbox-success label > input:checked + span:before,
.ui-radio-success label > input:checked + span:before,
.ui-checkbox-success label > input:checked + i:before,
.ui-radio-success label > input:checked + i:before {
  background-color: #0DB7A8;
  border: 1px solid #0DB7A8;
}
.ui-checkbox-warning label > input:checked + span:after,
.ui-radio-warning label > input:checked + span:after,
.ui-checkbox-warning label > input:checked + i:after,
.ui-radio-warning label > input:checked + i:after {
  color: #ffffff;
}
.ui-checkbox-warning label > input:checked + span:before,
.ui-radio-warning label > input:checked + span:before,
.ui-checkbox-warning label > input:checked + i:before,
.ui-radio-warning label > input:checked + i:before {
  background-color: #ffeb3b;
  border: 1px solid #ffea2e;
}
.ui-checkbox-danger label > input:checked + span:after,
.ui-radio-danger label > input:checked + span:after,
.ui-checkbox-danger label > input:checked + i:after,
.ui-radio-danger label > input:checked + i:after {
  color: #ffffff;
}
.ui-checkbox-danger label > input:checked + span:before,
.ui-radio-danger label > input:checked + span:before,
.ui-checkbox-danger label > input:checked + i:before,
.ui-radio-danger label > input:checked + i:before {
  background-color: #f44336;
  border: 1px solid #f3382a;
}
.ui-checkbox-info label > input:checked + span:after,
.ui-radio-info label > input:checked + span:after,
.ui-checkbox-info label > input:checked + i:after,
.ui-radio-info label > input:checked + i:after {
  color: #ffffff;
}
.ui-checkbox-info label > input:checked + span:before,
.ui-radio-info label > input:checked + span:before,
.ui-checkbox-info label > input:checked + i:before,
.ui-radio-info label > input:checked + i:before {
  background-color: #2196f3;
  border: 1px solid #1590f2;
}
.ui-radio-primary label > input:checked + span:after,
.ui-radio-pink label > input:checked + span:after,
.ui-radio-success label > input:checked + span:after,
.ui-radio-warning label > input:checked + span:after,
.ui-radio-danger label > input:checked + span:after,
.ui-radio-info label > input:checked + span:after,
.ui-radio-primary label > input:checked + i:after,
.ui-radio-pink label > input:checked + i:after,
.ui-radio-success label > input:checked + i:after,
.ui-radio-warning label > input:checked + i:after,
.ui-radio-danger label > input:checked + i:after,
.ui-radio-info label > input:checked + i:after {
  background-color: #fff;
}